*{
    margin: 0;
    padding-top: 4vh;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
    background-color: black;
    justify-content: center;
}

main{
    margin-left: 10%;
}

a{
    position: relative;
    display: inline-block;
    color: coral;
    padding-top: 0;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    
}

a:hover{
    transform: scale(1.1);
}

#top{
    display: block;
    text-align: center;
    position: relative;
    padding: 5px;
}

.container{
    display: grid;
    grid-template-columns: 340px 100px 280px;
    grid-template-rows: 250px 110px 140px; 
    gap: 10px;
    height: 100vh;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
}

#item1{
    background-color: red;
    grid-column: 1/3;
}

#item2{
    background-color: orange;
}


#item3{
    background-color: green;
    grid-row: 2/4;
}

#item4{
    background-color: lightblue;
    grid-column: 2/4;
}

#item5{
    background-color: lightblue;
    grid-column: 2/4;
}
