*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    line-height: 0;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

div{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: center;
    align-items: center;
    width: 67%;
    height: 90%;
}

.container{
    display: flex;
    align-self: center;
}

.sedans{
    display: inline-block;
    background-color: hsl(31, 77%, 52%);
    line-height: 22px;
    padding: 45px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.suvs{
    display: inline-block;
    background-color: hsl(184, 100%, 22%);
    line-height: 22px;
    padding: 45px;
}

.luxury{
    display: inline-block;
    background-color: hsl(179, 100%, 13%);
    line-height: 22px;
    padding: 45px;
    width: 66%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*buttons*/
#sedans-button{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: solid;
    border-color: hsl(0, 0%, 95%);
    text-decoration: none;
    color: hsl(31, 77%, 52%);
}

#sedans-button:hover{
    border-color: white;
    background-color: hsl(31, 77%, 52%);
    color: white;
}

#suvs-button{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: solid;
    border-color: hsl(0, 0%, 95%);
    text-decoration: none;
    color: hsl(184, 100%, 22%);
}

#suvs-button:hover{
    border-color: white;
    background-color: hsl(184, 100%, 22%);
    color: white;
}

#luxury-button{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: solid;
    border-color: hsl(0, 0%, 95%);
    text-decoration: none;
    color: hsl(179, 100%, 13%);
}

#luxury-button:hover{
    border-color: white;
    background-color: hsl(179, 100%, 13%);
    color: white;
}

a{
    text-decoration: none;
}

/*nav*/
.grid{
    width: 120px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: solid;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    border-color: hsl(179, 100%, 13%);
    background-color: hsl(179, 100%, 13%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.grid:hover{
    color: black;
    background-color: hsl(0, 0%, 95%);
    border-color: black;
}
    
/*Responsiveness*/
@media(min-width:1440){
    div{
        display: flex;
        flex-direction: row;
        width: 250px;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 70vh;
        overflow: hidden;
    }
}

@media(max-width:1024px){
    main{
        height: 600px;
    }
}

@media(max-width:768px){
    div{
        flex-direction: column;
    }

    main{
        margin-top: 50%;
    }

    .grid{
        position: relative;
    }

    .sedans{
        border-radius: 0;
        width: 120%;
    }

    .suvs{
        margin-top: 20%;
        width: 120%;
    }

    .luxury{
        border-radius: 0;
        width: 120%;
        margin-top: 20%;
    }
}

@media(max-width:425px){

    main{
        margin-top: 500px;
    }
}

@media(max-width:325px){

    main{
        margin-top: 120%;
    }

    .sedans{
        margin-top: 30vh;
    }
}